################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MobileT9/.vs/MobileT9
/MobileT9/MobileT9/obj
